{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Covid-19</h1>
    <p class="lead">Economic Data to Watch for Signs of SARS-CoV-2 Impact.</p>
</div>


<div class="row">
    <div class="col-md-14">
        <h2>This provides a study of the Pandemic Spred of COVID-19 across the USA and globe with heat maps & live statistics for
            each State and the effects on the economy</h2>
    </div>
    <div class="col-md-3">
        <h3 style="color:brown;background-color:lightgreen;">A pandemic is the global outbreak of a disease.</h3>
    </div>
    <div class="col-md-4">
        <h3 style="color:green;background-color: lightskyblue;">There are many examples in history, the most recent
            being the COVID-19 pandemic, declared as such by the WHO on March 12, 2020. </h3>
    </div>
    <div class="col-md-4">
        <h3 style="color:blueviolet;background-color: aquamarine;">SARS and SWINE FLUE are the other Pandemic in the
            history, which we have considered for our study along with COVID-19.</h3>
    </div>

</div>

{% endblock %}
